* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f2f2f2;
    font-family: Pretendard, sans-serif;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    width: 402px;
    background: #F6F9F5;
    overflow: hidden;
    position: relative;
}